# See http://help.github.com/ignore-files/ for more about ignoring files.



# dependencies
/node_modules
node_modules
node_modules/

# this is pushed for now since i don't know to declare envirement variables in our vps
#config/


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
